<%- include('../partials/menu') %>

<% if (typeof errors != 'undefined') { %>
    <ul>
    <% errors.forEach((error) => { %>
        <li> <%= error.msg %> </li>
    <% }) %>    
    </ul>
<% } %>

<form action="/productos/store" method="post">
    <div>
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" value="<%= values.nombre %>">
    </div>
    <div>
        <label for="description"> Descripcion: </label>
        <textarea name="description" id="description" cols="30" rows="10"><%= values.description %></textarea>
    </div>
    <button type="submit">Enviar</button>
</form>