<%- include('../partials/menu') %>

<h1>Productos</h1>

<a href="/productos/create">Nuevo Producto</a>

<% productos.forEach((producto) => { %>
    <h2>    
        <a href="/productos/<%= producto.id %>"><%= producto.nombre %></a>
    </h2>
<% }) %>